body{
    background-color: bisque;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: brown;
    text-indent: 30px;
}
h2{
    text-align: center;
    color: aquamarine;
    text-transform: initial;
}
h3{
    text-align: center;
    color: blue;
    text-decoration: line-through;
}
p{
    text-align: justify;
    color: cadetblue;
    letter-spacing: normal;
}