body{
    background-image: url(bcgcss.jpg);
    background-color: beige;
    background-repeat: no-repeat;
    background-position: top;
}

h1{
    font-family: serif;
    color: deeppink;
}